@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Press+Start+2P&display=swap'); 

html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}

body > header{
    background-color: #1f1d2e;
}

.noteL{
    list-style-type: square;
}

.navbar{
    order: 2;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.navbar li{
    display: inline-block;
    padding-right: 20px;
    list-style-type: none;
}

.title_style{
    font-size: 6vw;
    font-family: 'Bungee Outline', cursive;
    
    text-align: center;
}

.button{
    border: none;
    height: 60px;
    border-radius: 12px;
    color: white;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.noteB{
    order: 3;
    float: left;
    margin-left: 20px;
    width: 150px;
}

.themeB{
    order: 3;
    float: right;
    margin-right: 20px;
    width: 150px;
}

.saveB{
    order: 5;
    margin-left: 4%;
    width: 80px;
}

.cancelB{
    order: 5;
    margin-left: 45%;
    width: 120px;
}

.textF{
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}

.KIT{
    /* width: 400px; */
    text-align: center;
}

.link_image{
    display: flex;
    justify-content: center;
}
.linkedin_logo{
    width: 6.25%;
    height: auto;
}
.internet_logo{
    width: 6.25%;
    height: auto;
}


#note_field{
    order: 4;
    width: 94%;
    min-height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    resize: none;
    border-color: lightskyblue;
    border-width: 5px;
    border-radius: 4px;
}


#light_theme_left{
    background-color: #fffaf3;
}
#light_theme_right1, #light_theme_right2{
    background-color: #f2e9de;
}
#title_light{
    color: #286983;
}
#noteB_light{
    background-color: #56949f;
}
#themeB_light{
    background-color: #6e6a86;
}
#saveB_light{
    background-color: #56949f;
}
#cancelB_light{
    background-color: #d7827e;
}
#textF_light{
    color: #575279;
}
#navF_light{
    color: #286983;
}

/* responsive design 
------------------------------------------------------*/

@media screen and (min-width:600px){
    body{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 8fr 2fr;
    }
    
    .L0_listing{
        grid-column: 1/2;
        grid-row: 1/-1;
        /* display: grid;
        grid-template-rows: 100px 1fr; */
    }
    .L0_notepage{
        grid-column: 2/3;
        grid-row: 1/3;
        /* display: grid; */
        /* grid-template-rows: 1.5fr 1fr 6fr; */
    }
    .L0_footer{
        grid-column: 2/3;
        grid-row: -2/-1;
    }
    .L1_listing_align{
        height: inherit;
        display: grid;
        grid-template-rows: 1fr 4fr;
    }
    .L1_notepage_align{
        display: grid;
        grid-template-rows: 1.5fr 1fr 6fr;
    }
    .L1_footAlign{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .title_style{
        grid-row: 1/2;
        font-size: 40px;
    }
    .navbar{
        grid-row: 2/3;
    }
    .L2_noteblock_align{
        grid-row: 3/4;
    }
    .noteL{
        grid-row: 2/3;
    }
    .noteB{
        /* grid-row: 3/4; */
    }
    .themeB{
        /* grid-row: 3/4;
        grid-column: /-1; */
    }
    .titleB{
        /* grid-row: 1/2; */
    }
    .titleB, .titleF{
        /* grid-column: 1/3; */
    }
    .saveB{
        /* grid-row: 5/6;
        grid-column: 2/3; */
    }
    .cancelB{
        /* grid-row: 5/6;
        grid-column: 2/3; */
    }
    .linkedin_logo{
        /* grid-row: 6/7;
        grid-column: 1/3; */
    }
    .internet_logo{
        /* grid-row: 6/7;
        grid-column: 1/3; */
    }

    /* .titleF{
        font-size: 40px;
    } */
    /* .textF{
        grid-row: 1/2;
        font-size: 20px;
    } */

    #note_field{
        /* grid-row: 4/5;
        grid-column: 1/3; */
    }
    #KIT{
        /* grid-row: 6/7;
        grid-column: 1/3; */
    }
}